*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.bak

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.settings
/common/*.classpath
/service/service/*.classpath
/service/service/*.project
/service/service/*.gitignore
/common/*.gitignore
/web/*.gitignore
/common/*.project
